## Blacklist all files
*

!*.md

## Whitelist .gitignore
!.gitignore

## Whitelist TLA+ files
!*.tla

!*.pdf

## Whitelist TLC model config and results
!*.cfg
!*.out  ## Usually .out files are small

## Whitelist Toolbox model metadata
!*.launch

## Whitelist Toolbox spec metadata
!.project
!*.prefs

## Whitelist all folders
!*/

## quint spec
!*.qnt

!Makefile
!*.sh

## Blacklist TLAPS cache folder
## See https://github.com/tlaplus/tlapm/issues/16
__tlacache__
.tlacache

## Blacklist Snapshots
*/*SnapShot*
